<h1 class="centered-text">Welcome to the Store!</h1>
<img src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fs-media-cache-ak0.pinimg.com%2Foriginals%2F4b%2Fd4%2F35%2F4bd435bcee3eedf44563024ff5c8c2de.jpg&f=1" class="img-responsive" style="width:100%">
<div class="accessory-display">
  <% @accessories.each do |accessory| %>
  <div class="accessory-<%= accessory.id %> accessory-box">
    <%= link_to accessory.title, accessory_path(accessory)  %>
    $<%= accessory.price %>
    <img src="<%= accessory.image %>">
    <% if accessory.status == "active" %>
      <%= button_to "Add to Cart", cart_path(accessory_id: accessory.id, value: "add") %>
    <% else %>
      <p>Accessory Retired!</p>
    <% end %>
  </div>
  <% end %>
</div>
