<div class="centered-text">
  <h1>All Accessories</h1>
  <%= link_to "<< Back To Admin Dashboard", admin_dashboard_path %>
</div>
<div class="accessory-display">
  <% @accessories.each do |accessory| %>
  <div class="accessory-box">
    <%= accessory.title %>
    <%= accessory.description %>
    <%= accessory.price %>
    <img src="<%= accessory.image %>">
    <%= link_to "Edit", edit_admin_accessory_path(accessory) %>
    <%= link_to "Delete", admin_accessory_path(accessory), method: "delete" %>
    <%= accessory.status %>
  </div>
  <% end %>
</div>
