<div class="centered-text">
  <h1>All Accessories</h1>
  <%= link_to "<< Back To Admin Dashboard", admin_dashboard_path %>
</div>
<div class="accessory-display">
  <% @accessories.each do |accessory| %>
  <div class="accessory-box">
    Title: <%= accessory.title %><br>
    Description: <%= accessory.description %><br>
    Price: <%= accessory.price %><br>
    <img src="<%= accessory.image %>"><br>
    <%= link_to "Edit", edit_admin_accessory_path(accessory) %>
    <%= link_to "Delete", admin_accessory_path(accessory), method: "delete" %>
    Status: <%= accessory.status %><br>
  </div>
  <% end %>
</div>
