<html class="admin-modification">
<div class="admin-login-box admin-hero-text">
  <h1>Create a Condition</h1>

  <%= form_for [:admin, @condition] do |f| %>
    <legend><span class="number">1</span><%= f.label :date %></legend>
    <%= f.text_field :date %><br>

    <legend><span class="number">2</span><%= f.label :max_temp %></legend>
    <%= f.number_field :max_temp %><br>

    <legend><span class="number">3</span><%= f.label :average_temp %></legend>
    <%= f.number_field :average_temp %><br>

    <legend><span class="number">4</span><%= f.label :min_temp %></legend>
    <%= f.number_field :min_temp %><br>

    <legend><span class="number">5</span><%= f.label :average_humidity %></legend>
    <%= f.number_field :average_humidity %><br>

    <legend><span class="number">6</span><%= f.label :average_visibility %></legend>
    <%= f.number_field :average_visibility %><br>

    <legend><span class="number">7</span><%= f.label :average_windspeed %></legend>
    <%= f.number_field :average_windspeed %><br>

    <legend><span class="number">8</span><%= f.label :precipitation %></legend>
    <%= f.number_field :precipitation %><br>

    <%= f.submit 'Create Condition' %>
  <% end %>
</div>
</html>
