<html class="condition-background">
<h1 class="centered-text">Conditions</h1>
<img src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.wallpapersafari.com%2F69%2F58%2FDJclFB.jpg&f=1" class="img-responsive" style="width:100%">
<div class="centered-text">
  <% if current_admin %>
      <%= link_to "Create a New Station", new_admin_station_path %><br>
      <%= link_to "Create a New Condition", new_admin_condition_path %><br>
      <%= link_to "Create a New Trip", new_admin_trip_path %><br>
  <% end %>
  <%= link_to "<< Back to Learning Dashboard", learn_dashboard_path %>
</div>
<table class="trip-display">
  <tr>
    <th>Date</th>
    <th>Max Temp</th>
    <th>Mean Temp</th>
    <th>Min Temp</th>
    <th>Average Humidity</th>
    <th>Average Visibility</th>
    <th>Average Windspeed</th>
    <th>Precipitation</th>
  </tr>
  <% @conditions.each do |condition| %>
      <tr>
        <td><%= link_to condition.date, condition_path(condition) %></td>
        <td><%= condition.max_temp %></td>
        <td><%= condition.average_temp %></td>
        <td><%= condition.min_temp %></td>
        <td><%= condition.average_humidity %></td>
        <td><%= condition.average_visibility %> (Miles)</td>
        <td><%= condition.average_windspeed %> (MPH)</td>
        <td><%= condition.precipitation %> (Inches)</td>
        <% if current_admin %>
          <td><%= link_to "Edit", edit_admin_condition_path(condition) %></td>
          <td><%= link_to "Delete", admin_condition_path(condition), method: "delete", data: {confirm: "Are you sure you want to delete this condition?"}, class: 'delete' %></td>
        <% end %>
      </tr>
  <% end %>
</table>
</html>
