<html class="condition-background">
<div class="centered-text">
  <h1>Conditions</h1>
  <% if current_admin %>
      <%= link_to "Create a New Station", new_admin_station_path %><br>
      <%= link_to "Create a New Condition", new_admin_condition_path %><br>
      <%= link_to "Create a New Trip", new_admin_trip_path %><br>
  <% end %>
</div>
  <div class="accessory-display">
  <% @conditions.each do |condition| %>
    <div class="accessory-box">
      <h3> Date: <%= link_to condition.date, condition_path(condition) %> </h3>

      <p> Max Temp: <%= condition.max_temp %> </p>
      <p>
        Mean Temp: <%= condition.average_temp %>
      </p>
      <p>
        Min Temp: <%= condition.min_temp %>
      </p>
      <p>
        Mean Humidity: <%= condition.average_humidity %>
      </p>
      <p>
        Mean Visibility: <%= condition.average_visibility %> miles
      </p>
      <p>
        Mean Windspeed: <%= condition.average_windspeed %> mph
      </p>
      <p>
        Precipitation: <%= condition.precipitation %> inches
      </p>
      <%= link_to 'Delete', admin_condition_path(condition), method: :delete, class: 'delete' if current_admin %>
      <%= link_to 'Edit', edit_admin_condition_path(condition) if current_admin %>
    </div>
  <% end %>
</div>
</html>
