<html class="condition-background">
<div class="centered-text">
  <h3> Welcome to <%= @condition.date %>'s Information </h3>
  <%= link_to "<< Back to All Conditions", conditions_path %>
</div>
<table class="trip-display">
  <tr>
    <th>Date</th>
    <th>Max Temp</th>
    <th>Mean Temp</th>
    <th>Min Temp</th>
    <th>Mean Humidity</th>
    <th>Mean Visibility</th>
    <th>Mean Wind Speed</th>
    <th>Precipiation</th>
  </tr>

  <tr>
    <td><%= @condition.date %></td>
    <td><%= @condition.max_temp %></td>
    <td><%= @condition.average_temp %></td>
    <td><%= @condition.min_temp %></td>
    <td><%= @condition.average_humidity %></td>
    <td><%= @condition.average_visibility %> (Miles)</td>
    <td><%= @condition.average_windspeed %> (MPH)</td>
    <td><%= @condition.precipitation %> (Inches)</td>
    <% if current_admin %>
      <td><%= link_to 'Delete', admin_condition_path(@condition), method: :delete, class: 'delete' %></td>
      <td><%= link_to 'Edit', edit_admin_condition_path(@condition)%></td>
    <% end %>
  </tr>
</table>
</html>
