<html class="login">
  <div class="login-box hero-text">
    <h1>Hey!<br>Thanks for stopping by!</h1>
    <%= form_tag login_path do %>
      <legend><span class="number">1</span><%= label_tag :username %></legend>
      <%= text_field_tag :username %><br>
      <br>

      <legend><span class="number">2</span><%= label_tag :password %></legend>
      <%= password_field_tag :password %>
      <br>
      <%= submit_tag "Login" %>
      <%= link_to "Create Account", new_user_path %>
    <% end %>
  </div>
</html>
