<html>
<img src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Ff%2Ffb%2FCitybike_station_bikeMi_Milan_Italy_20101230.JPG&f=1" class="img-responsive" style="width:100%">
<div class="centered-text">
  <h1 class="stations">Stations</h1>
  <% if current_admin %>
      <%= link_to "Create a New Station", new_admin_station_path %><br>
      <%= link_to "Create a New Condition", new_admin_condition_path %><br>
      <%= link_to "Create a New Trip", new_admin_trip_path %><br>
  <% end %>
</div>
  <div class="accessory-display">
    <% @stations.each do |station| %>
    <div class="station-<%= station.id %> accessory-box">
      Name: <%= station.name %>
      Dock Count: <%= station.dock_count %>
      City: <%= station.city %>
      Installation Date: <%= station.installation_date %>
      <% if current_admin %>
        <%= link_to "Edit", edit_admin_station_path(station) %>
        <%= link_to "Delete", admin_station_path(station), method: "delete", data: {confirm: "Are you sure you want to delete this idea?"} %>
      <% end %>
    </div>
  <% end %>
</div>
</html>
