<html class="station-background">
<div class="centered-text">
  <h1>Welcome to the <%= @station.name %> Station!</h1>
  <%= link_to "<< Back to All Stations", stations_path %>
</div>
  <table class="trip-display">
    <tr>
      <th>ID</th>
      <th>Dock Count</th>
      <th>City</th>
      <th>Installation Date</th>
    </tr>
    <tr>
      <td><%= @station.id %><td>
      <td><%= @station.dock_count %></td>
      <td><%= @station.city %></td>
      <td><%= @station.installation_date %></td>
    <% if current_admin %>
      <td><%= link_to "Edit", edit_admin_station_path(@station) %></td>
      <td><%= link_to "Delete", admin_station_path(@station), method: :delete %></td>
    <% end %>
  </table>
</html>
