<html class="login">
<h1 class="centered-text">Admin Dashboard</h1>
<div class="container station-display">
    <div class= "col-lg-4 col-md-4 col-sm-4 col-xs-4 learn-dashboard-box">
      <h1>Stations</h1>
      <%= link_to "All Stations", stations_path %>
      <%= link_to "Stations Dashboard", stations_dashboard_path %>
      <%= link_to "Create a New Station", new_admin_station_path %>
    </div>
    <div class= "col-lg-4 col-md-4 col-sm-4 col-xs-4 learn-dashboard-box">
      <h1>Conditions</h1>
      <%= link_to "All Conditions", conditions_path %>
      <%= link_to "Conditions Dashboard", conditions_dashboard_path %>
      <%= link_to "Create a New Condition", new_admin_condition_path %>
    </div>
    <div class= "col-lg-4 col-md-4 col-sm-4 col-xs-4 learn-dashboard-box">
      <h1>Trips</h1>
      <%= link_to "All Trips", trips_path %>
      <%= link_to "Trips Dashboard", trips_dashboard_path %>
      <%= link_to "Create a New Trip", new_admin_trip_path %>
    </div>
    <div class= "col-lg-4 col-md-4 col-sm-4 col-xs-4 learn-dashboard-box">
      <h1>Accessories</h1>
      <%= link_to "All Accessories", '/admin/bike-shop' %>
      <%= link_to "Create a New Accessory", admin_bike_shop_new_path %>
    </div>
  </div>
</div>
</div>
<div class="centered-text">
  <h3>Orders by status</h3>
</div>

  <div class="order-container">
  <table>
    <tr>
      <th><%= link_to 'Paid orders', admin_dashboard_path(:sort_status => 'Paid') %>: <%= @orders.count_by_status('Paid') %></th>
      <th><%= link_to 'In progress orders', admin_dashboard_path(:sort_status => 'Ordered') %>: <%= @orders.count_by_status('Ordered') %></th>
      <th><%= link_to 'Cancelled orders', admin_dashboard_path(:sort_status => 'Cancelled') %>: <%= @orders.count_by_status('Cancelled') %></th>
      <th><%= link_to 'Completed orders', admin_dashboard_path(:sort_status => 'Completed') %>: <%= @orders.count_by_status('Completed') %></th>
    </tr>
  </table><br />
  <% if @sorted_orders %>
    <table>
      <tr>
        <th>Order Date</th>
        <th>Purchaser</th>
        <th>Total</th>
      </tr>
      <% @sorted_orders.each do |order| %>
      <tr>
        <td><%= order.date_time %></td>
        <td><%= order.purchaser_name %></td>
        <td><%= order.total %></td>
      </tr>
      <% end %>
  </table>
  <% end %>
</div>

<div class="centered-text">
  <h3>All Orders</h3>
</div>
  <div class="container station-display">
  <table>
    <tr>
      <th>Id</th>
      <th>Status</th>
      <th>Purchaser</th>
      <th>Total</th>
      <th>Options</th>
    </tr>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to "Order #{order.id}", order_path(order) %></li></td>
        <td><%= order.status %></td>
        <td><%= order.purchaser_name %></td>
        <td><%= order.total %></td>
        <td id="order-<%= order.id %>-options">
          <% if order.status == 'Paid' %>
              <%= button_to 'Mark as Completed', order_path(order, status: 'Completed'), method: :patch %>
              <%= button_to 'Cancel', order_path(order, status: 'Cancelled'), method: :patch %>
            </td>
          <% elsif order.status  == 'Ordered' %>
              <%= button_to 'Mark as Paid', order_path(order, status: 'Paid'), method: :patch %>
              <%= button_to 'Cancel', order_path(order, status: 'Cancelled'), method: :patch %>
            </td>
          <% else %>
            </td>
          <% end %>
    <% end %>
  </table>
</div>
</div>
</html>
