<html class="station-background">
<h1 class="trip-header">Stations Dashboard</h1>
<div class="centered-text login">
  <% if current_admin %>
      <%= link_to "Create a New Station", new_admin_station_path %><br>
      <%= link_to "Create a New Condition", new_admin_condition_path %><br>
      <%= link_to "Create a New Trip", new_admin_trip_path %><br>
  <% end %>
  <%= link_to "<< Back to Learning Dashboard", learn_dashboard_path %><br>
  <br>
  Total Stations: <%= @presenter.total_stations %><br>
  Average Number of Bikes: <%= @presenter.average_bikes %><br>
  Most Docks: <%= @presenter.most_docks.name %>: <%= @presenter.min_docks %><br>
  Least Docks: <%= @presenter.least_docks.name %>: <%= @presenter.max_docks %><br>
<br>
  <strong>Oldest Station:</strong><br>
    Installation Date: <%= @presenter.oldest.installation_date %><br>
    Name:<%= @presenter.oldest.name %><br>
<br>
  <strong>Newest Station:</strong><br>
    Installation Date: <%= @presenter.newest.installation_date %><br>
    Name: <%= @presenter.newest.name %><br>
  </tr>
</div>
</html>
