<html class="condition-background">
<div class="centered-text condition-background">
  <h1>
    Conditions Dashboard
  </h1>
  <%= link_to "<< Back to Learning Dashboard", learn_dashboard_path %><br>

  <h3> Trips by Temp </h3>
  <div>
    <% @presenter.trip_temp_breakdown.each do |trip| %>
      <strong><%= trip[0] %> Degrees</strong><br>
      Fewest Trips: <%= trip[1] %><br>
      Most Trips: <%= trip[2] %><br>
      Average Trips: <%= trip[3] %><br>
      <br>
    <% end %>
  </div>

  <h3> Trips by Precipitation </h3>
  <div>
    <% @presenter.trip_pre_breakdown.each do |trip| %>
     <strong><%= trip[0] %> Inches</strong><br>
      Fewest Trips: <%= trip[1] %><br>
      Most Trips: <%= trip[2] %><br>
      Average Trips: <%= trip[3] %><br>
      <br>
    <% end %>
  <div>

  <h3> Trips by Windspeed </h3>
  <div>
    <% @presenter.trip_wind_breakdown.each do |trip| %>
     <strong><%= trip[0] %> MPH</strong><br>
      Fewest Trips: <%= trip[1] %><br>
      Most Trips: <%= trip[2] %><br>
      Average Trips: <%= trip[3] %><br>
      <br>
    <% end %>
  <div>

  <h3> Trips by Visibility </h3>
  <div>
    <% @presenter.trip_visible_breakdown.each do |trip| %>
      <strong><%= trip[0] %> Miles</strong><br>
      Fewest Trips: <%= trip[1] %><br>
      Most Trips: <%= trip[2] %><br>
      Average Trips: <%= trip[3] %><br>
      <br>
    <% end %>
  </div>
  <br>
  <br>
</div>

</html>
