<nav>
  <ul>
    <% if current_user == nil %>
      <li><%= link_to "Login", login_path %></li>
      <li><%= link_to "Home", root_path %></li>
    <% else registered_user || current_admin %>
      <li><%= link_to "Logout", '/logout' %></li>
      <li><%= link_to "Home", dashboard_path %></li>
    <% end %>
    <li><%= link_to "Stations", stations_path %></li>
    <li><%= link_to "Conditions", conditions_path %></li>
    <li><%= link_to "Trips", trips_path %></li>
    <li class="cart"><img src="http://cdn.onlinewebfonts.com/svg/img_290616.png" style="height: 18px; margin: 5px;"><%= @cart.total_accessory_count %></li>
  </ul>
</nav>
