<html class="admin-modification">
  <div class="admin-login-box admin-hero-text">
  <%= form_for [:admin, @station] do |f| %>
    <legend><span class="number">1</span><%= f.label :name %></legend>
    <%= f.text_field :name %><br>

    <legend><span class="number">2</span><%= f.label :dock_count %></legend>
    <%= f.number_field :dock_count %><br>

    <legend><span class="number">3</span><%= f.label :city %></legend>
    <%= f.text_field :city %><br>

    <legend><span class="number">4</span><%= f.label :installation_date %></legend>
    <%= f.date_field :installation_date %><br>
    <%= f.submit %>
  </div>
<% end %>
</html>
