<html class="home">
  <h1 class="centered-text">Order: <%= @order.id %></h1>
    <div class="hero-text accessory-box">
    Total: $<%= @order.total %><br>
    Status: <%= @order.status %><br> on <%= @order.date_time %><br>
    <% if current_admin %>
      Purchaser: <%= @order.purchaser_name %><br>
      Order Address: <%= @order.address %><br>
    <% end %>

    Accessories Ordered:<br>
    <% @order.accessories.each do |accessory| %>
      Title: <%= link_to accessory.title, accessory_path(accessory) %>
      Quantity: <%= accessory.order_quantity(@order) %>
      Subtotal: $<%= accessory.order_subtotal(@order) %><br>
    <% end %>
    </div>
</html>
