<html class="admin-modification">
  <div class="admin-login-box admin-hero-text">
    <%= form_for [:admin, @trip] do |f| %>
      <legend><span class="number">1</span><%= f.label :duration %></legend>
      <%= f.number_field :duration %><br>

      <legend><span class="number">2</span><%= f.label :start_station_name %></legend>
      <%= f.collection_select(:start_station_id, @stations, :id, :name) %><br>

      <legend><span class="number">3</span><%= f.label :start_date %></legend>
      <%= f.text_field :start_date %><br>

      <legend><span class="number">4</span><%= f.label :end_station_name %></legend>
      <%= f.collection_select(:end_station_id, @stations, :id, :name) %><br>

      <legend><span class="number">5</span><%= f.label :end_date %></legend>
      <%= f.text_field :end_date %><br>

      <legend><span class="number">6</span><%= f.label :bike_id %></legend>
      <%= f.number_field :bike_id %><br>

      <legend><span class="number">7</span><%= f.label :subscription_type %></legend>
      <%= f.select :subscription_type, options_for_select(["Subscriber", "Customer"]) %><br>

      <legend><span class="number">8</span><%= f.label :zip_code %></legend>
      <%= f.text_field :zip_code %><br>

      <%= f.submit %>
    <% end %>
  </div>
</div>
