<html class="login learn-background">
<h1 class="centered-text">Let's Learn Something!</h1>
<div class="container station-display">
    <div class= "col-lg-4 col-md-4 col-sm-4 col-xs-4 learn-dashboard-box">
      <h1>Stations</h1>
      <%= link_to "All Stations", stations_path %>
    </div>
    <div class= "col-lg-4 col-md-4 col-sm-4 col-xs-4 learn-dashboard-box">
      <h1>Conditions</h1>
      <%= link_to "All Conditions", conditions_path %>
      <%= link_to "Conditions Dashboard", conditions_dashboard_path %>
    </div>
    <div class= "col-lg-4 col-md-4 col-sm-4 col-xs-4 learn-dashboard-box">
      <h1>Trips</h1>
      <%= link_to "All Trips", trips_path %>
      <%= link_to "Trips Dashboard", trips_dashboard_path %>
    </div>
  </div>
</div>
</div>
</html>
