<html class="trip-background">
<h1 class="trip-header">Trips Dashboard</h1>
<div class="centered-text">
    <h1>Conditions</h1>
  <%= link_to "<< Back to Learning Dashboard", learn_dashboard_path %><br>
  Best Weather: <%= @presenter.best_weather %><br>
  Worst Weather: <%= @presenter.worst_weather %><br>
  Average Duration: <%= @presenter.avg_duration %><br>
  Longest Ride: <%= @presenter.min_duration %><br>
  Shortest Ride: <%= @presenter.max_duration %><br>

  Trips by Month:
  <%= "Most Popular Starting Station: #{@presenter.popular_starting_station}" %><br>
  <%= "Most Popular Ending Station: #{@presenter.popular_ending_station}" %><br>

  <%= "Most Popular Bike: #{@presenter.popular_bike[0]} with #{@presenter.popular_bike[1]} rides" %><br>
  <%= "Least Popular Bike: #{@presenter.unpopular_bike[0]} with #{@presenter.unpopular_bike[1]} rides" %>
  <br>
  <br>

  <strong>Subscribers:</strong><br>
  Number of Subscribers: <%= @presenter.subscriber_breakdown[0] %><br>
  Percentage of Subscribers: <%= @presenter.subscriber_breakdown[1].to_i %>%<br><br>

  <strong>Customers:</strong><br>
  Number of Customers: <%= @presenter.customer_breakdown[0]%><br>
  Percentage of Customers: <%= @presenter.customer_breakdown[1].to_i %>%<br><br>

  <strong>Busiest Date:</strong><br>
    Date: <%= @presenter.busy_date[0] %><br>
    Number of Rides: <%= @presenter.busy_date[1].to_i %><br><br>

  <strong>Least Busy Day:</strong><br>
   Date: <%= @presenter.dead_date[0] %><br>
   Number of Rides: <%= @presenter.dead_date[1].to_i %><br><br>

   <h3> Trips by Month </h3>
  <div>
    <% @presenter.group_month.each do |month, rides| %>
      <%= month %>: <%= rides %>
      <br>
    <% end %>
    <br>
    <br>
  </div>
</div>
</html>
