<html class="login">
<h1 class="trip-header">Trips Dashboard</h1>
<div class="centered-text">
    <h1>Conditions</h1>
  <%= link_to "<< Back to Learning Dashboard", learn_dashboard_path %><br>
  Best Weather: <%= @best_weather %><br>
  Worst Weather: <%= @worst_weather %><br>
  Average Duration: <%= @avg_duration %><br>
  Minimum Duration: <%= @min_duration %><br>
  Maximum Duration: <%= @max_duration %><br>

  Trips by Month:
  <% @trips_by_month.each do |month, trip_count| %>
    <%= "#{month}: #{trip_count}" %>
  <% end %><br>

  <%= "Most Popular Starting Station: #{@popular_starting_station}" %><br>
  <%= "Most Popular Ending Station: #{@popular_ending_station}" %><br>

  <%= "Most Popular Bike: #{@popular_bike[0]} with #{@popular_bike[1]} rides" %><br>
  <%= "Least Popular Bike: #{@unpopular_bike[0]} with #{@unpopular_bike[1]} rides" %><br>

  Subscribers: <%= @subscriber_breakdown %><br>
  Customers: <%= @customer_breakdown %> <br>

  Busiest Date: <%= @busy_date %><br>
  Least Busy Day: <%= @dead_date %><br>
</div>
</html>
