<html class="home">
  <div class="hero-text accessory-box">
    Title: <h1><%= @accessory.title %></h1><br>
    Price: $<%= @accessory.price %><br>
    Description: <%= @accessory.description %><br>
    Status: <%= @accessory.status %><br>
    <img src="<%= @accessory.image %>">
    <% if current_admin %>
      <%= link_to "Edit", edit_admin_accessory_path(@accessory) %>
      <%= link_to "Delete", admin_accessory_path(@accessory), method: "delete" %>
    <% end %>
    <% if @accessory.status == "active" %>
      <%= button_to "Add to Cart", cart_path(accessory_id: @accessory.id, value: "add") %>
    <% else %>
      <p>Accessory Retired!</p>
    <% end %>
    <%= link_to "<< Back to Shop", bike_shop_path %>
  </div>
</html>
